.tap-container{
    width:220px;
    background:white;
    padding-top:20px;
    & .tag-title{
        color: gray;
        font-weight:700;
    }

    & .link-containt{
        display:flex;
        flex-wrap:wrap;
        margin-top:30px;
        & a{
            display:block;
            border:1px solid #a3a3a3;
            color: var(--greyColor);
            margin-right: 5px;
            border-radius: 10px;
            margin-bottom:10px;
            padding: 0 10px;
            font-size: 12px;
        }
        
    }
    & .head_icon{
       margin:30px 0;
       width:100px;
       height:100px;
       border-radius:10px;
    }
    & a:hover{
        color:var(--hoverGreenColor);
        border-color:var(--hoverGreenColor)
    }
     & .personal_desc{
        font-size: 14px;
        font-weight:400;
        color: var(--greyColor); 
    }
}