html,body{
    background-image: none !important;
}
ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
#secondary{
    float: right;
    width: 245px;
    margin-right: 100px;
    border-left: 1px solid #ddd;
    padding-left: 35px;
    word-wrap: break-word;
    display: block;
    padding-top: 40px;
}
.widget{
    margin-bottom:30px;
}
.widget-title{
    color: #6E7173;
    line-height: 2.7;
    margin-top: 0;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    display: block;
}
/* .widget-title.widget-title-skin{
    color: red;
} */
figure{
    margin: 1em 40px;
}
figure >img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
    height: auto;
}
figcaption{
    margin-top: 10px;
    color: #595959;
    text-align: center;
    font-size: 0.9em;
}
.tagcloud{
    padding-top: 12px;
}
a,a:visited{
    color: #6E7173;
}
a.skin-border{
    padding: 4px 6px;
    border: 1px solid #ddd;
    margin: 6px;
    border-radius: 14px;
}
.widget-list li {
    margin: 5px 0;
    line-height: 1.5;
}